@import "tailwindcss";


/* Make sure Leaflet styles are properly applied */



@keyframes scalePulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.scale-pulse {
  animation: scalePulse 3s infinite;
}

@keyframes scalePulseColor {
  0%, 100% {
    transform: scale(1);
    color: rgb(253, 212, 137);
    background-color: transparent;
  }
  50% {
    transform: scale(1.2);
    color: orange;
    background-color: transparent;
    font-weight: bolder;
  }
}

.scale-pulse-color {
  animation: scalePulseColor 3s infinite;
}

  .static-branch-marker {
  width: 24px;
  height: 24px;
  background-color: red; /* یا آیکون */
  border-radius: 50%;
  transform: translate(-50%, -100%);

}